<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <div class="container-head">
        <h1 class="logo-name"><a href="#"><span style="Color:#ADD8E6">Mind</span>Canvas</a></h1>
        <ul class="nav-container">
            <li class="nav-item">
                <div><a href="/">Home</a></div>
            </li>
            <li class="nav-item">
                <div><a href="#">About</a></div>
            </li>
            <li class="nav-item">
                <div><a href="#">Contact</a></div>
            </li>

        </ul>
        <div class="button nav-item"><a href="/create">Post</a></div>
    </div>
</body>

</html>