@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

body {
    margin: 0;
    padding: 0;

}

.container-head {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #25343F;
}

.logo-name a {
    color: #EAEFEF;
    text-decoration: none;
    font-family: "Archivo Black", sans-serif;
    margin-left: 10%;
}

.nav-container {

    list-style-type: none;

    display: flex;
    flex-direction: row;

    justify-content: end;
    align-items: center;
    gap: 30px;

    margin: 0;
    padding: 5px;
}

.nav-item {
    font-size: 1.5rem;
    font-weight: bold;

}

ul li a {
    color: #EAEFEF;
    text-decoration: none;

}

.button a {
    color: #FFFFFF;
    text-decoration: none;
}

.button {
    align-self: center;
    justify-self: center;
    padding: 5px 25px 5px 25px;
    border-radius: 8%;
    background-color: #FF9B51;

}

.button:hover {
    background-color: #fa7c1c;
}


footer {
    bottom: 0;
    width: 100%;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    background-color: #25343F;
}


.footer-container ul li {
    list-style-type: none;
    margin-top: 10px;
}

.footer-container {
    margin-top: 25px;
}

.footer-container p {

    color: #EAEFEF;
}

.main {
    min-height: 100vh;
    padding: 50px;
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content;
    background-color: rgb(252, 241, 226);
    justify-content: center;
}

#post-blog {
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, 0.359);
    outline: none;
    border-radius: 10px;
}

#title-post {
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, 0.359);
    outline: none;
    border-radius: 10px;
}

.post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}